---
import PageLayout from "../../layouts/PageLayout.astro";
import PageMeta from "../../components/PageMeta.astro";
import { SITE_TITLE } from "../../config";

import directus from "../../utils/directus";
import { readItem, readItems } from '@directus/sdk';

const pageContent = await directus.request(readItem("pages", "posts"));

const posts = await directus.request(
  readItems("posts", {
    fields: ["slug", "title", "published_date", { author: ["name"] }],
    sort: ["-published_date"],
  }),
);



---

<PageLayout>
  <PageMeta title={`Posts | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <ul>
      {
        posts.map((post) => {
          const formattedDate = new Date(
            post.published_date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a
                  href={post.slug}
                  target="_blank"
                  class="unset hover:text-text-link"
                >
                  <span>{post.title}</span>
                  <span>
                    <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                  </span>
                </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={post.published_date}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
