---
import Main from '@layouts/Main.astro';
import Header from '@components/Header.astro';
import Card from '@components/Card';
import { SITE } from '@config';

import Layout from "@layouts/Layout.astro";
import directus from "@utils/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
  const posts = await directus.request(
    readItems("projects", {
      fields: ["*", { relation: ["*"] }],
    }),
  );
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }));
}
const post = Astro.props;
---

<Layout title={post.title}>
  <Main pageTitle={post.title} pageDesc="All the articles I've posted.">
    <img src={`${import.meta.env.DIRECTUS_URL}/assets/${post.image}?width=500`} />
    <h1>{post.title}</h1>
    <div set:html={post.content} />
  </Main>
</Layout>
