---
import Meta from "@components/common/Meta.astro";
import Scripts from "@components/common/Scripts.astro";
import Fonts from "@components/common/Fonts.astro";

import { LOCALE, SITE } from "@config";
import "@styles/global.css";
import { ViewTransitions } from "astro:transitions";
import mod from "astro/zod";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  pubDatetime?: Date;
  modDatetime?: Date | null;
  scrollSmooth?: boolean;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  pubDatetime,
  modDatetime,
  scrollSmooth = false,
} = Astro.props;
---

<!doctype html>
<html
  lang=`${LOCALE.lang ?? "en"}`
  class={`${scrollSmooth && "scroll-smooth"} theme`}
>
  <head>
    <Meta
      title={title}
      author={author}
      description={description}
      ogImage={ogImage}
      canonicalURL={canonicalURL}
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
    />
    <Scripts />
    <Fonts />

    <ViewTransitions />
  </head>
  <body style="background-color: rgb(var(--color-bgColor)); color: rgb(var(--color-contentColor));">
    <slot />
  </body>
</html>
